@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: top;
  min-height: 100vh;
  background: #161623;
  animation: fadeIn 1s ease-in-out;
}
body::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#080060, #690069);
  clip-path: circle(30% at right 70%);
}
body::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#8b4971, #8407ea);
  clip-path: circle(20% at 10% 10%);
}

.conteudoPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center ;
}

.content {
    background-color: rgb(12, 12, 20);
    width: 850px;
    height: 470px;
    padding: 30px;
}

h1 , h3{
    font-size: 16px;
    color: white;
}

p {

color: rgba(255, 255, 255, 0.726);
}

.conteudoTotal {
  display: flex;
  flex-direction: column;
  margin-top: 190px;
  align-items: center;
}

.titulo {
  font-size: 52px;
}

.footer {
  display: flex;
  margin-top: 40px;
  background-color: #00000023;
  height: auto;
  width: 750px;
  padding: 20px;
  align-items: row;
  gap: 12px;
}

.imagem {
  width: 50px;
}