@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: top;
  min-height: 100vh;
  background: #161623;
  animation: fadeIn 1s ease-in-out;
}
body::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#080060, #690069);
  clip-path: circle(30% at right 70%);
}
body::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#8b4971, #8407ea);
  clip-path: circle(20% at 10% 10%);
}

.conteudoPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center ;
}

.content {
    background-color: rgb(12, 12, 20);
    width: 700px;
    height: 500px;
    padding: 30px;
    margin-top: 5px ;
}

h1 , h3{
    font-size: 16px;
    color: white;
}

.baixo {

  color: rgba(255, 255, 255, 0.726);
  font-size: 13px;
}
  
.cima {

    color: rgba(255, 255, 255, 0.726);
    font-size: 15px;
}

.conteudoTotal {
  display: flex;
  flex-direction: column;
  margin-top: 55px;
  align-items: center;
}

.titulo {
  font-size: 90px;
}

.footer {
  display: flex;
  margin-top: 20px;
  margin-bottom: 35px;
  background-color: #00000023;
  height: auto;
  width: 600px;
  padding: 20px;
  align-items: row;
}

.imagem {
  width: 75px;
  height: auto;
  margin-right: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 140px;

}


.voltar {
  width: 50px;
  padding: 8px 20px;
  margin-top: 15px;
  background: #fff;
  color: #000;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition-duration: 0.4s;
  margin-top: 25px;
}

.voltar:hover {
  background-color: #ff0099;
  transition-duration: 0.4s;
}

